.user{
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Ace_of_spades.svg/2000px-Ace_of_spades.svg.png");
	background-size: contain;
	background-repeat: no-repeat;
}

/*computer card */
.computer .default{
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Playing_card_heart_A.svg/2000px-Playing_card_heart_A.svg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 243px 354px;
}
